<section class="about-section about-fun-facts-section page-section" id="fun-facts">
    <h2 class="section-title about-section-title">Fun Facts</h2>
    <ul class="about-fun-facts">
        <li>I’m currently binge-watching <i>Community</i> (and yes, Troy and Abed are my favorites, but I still need to finish watching <i>Suits</i> Seasons 8 and 9 lol).</li>
        <li>I’m teaching myself guitar (it feels like I am cutting my fingernails every two days).</li>
        <li>I play both indoor and beach volleyball to stay active. I have been playing since I was in 5th grade!</li>
    </ul>
</section>
