<div class="hobbies-grid">
    <div class="hobby-card">
        <img src="{{ url_for('static', filename='img/hobbies/learning_guitar.jpg') }}" alt="Learning Guitar" class="hobby-img" loading="lazy">
        <div class="hobby-info">
            <h3 class="hobby-title">Learning Guitar</h3>
            <p class="hobby-desc">Exploring music theory and practicing new songs on my acoustic guitar.</p>
        </div>
    </div>
    <div class="hobby-card">
        <img src="{{ url_for('static', filename='img/hobbies/playing_volleyball.jpg') }}" alt="Playing Volleyball" class="hobby-img" loading="lazy">
        <div class="hobby-info">
            <h3 class="hobby-title">Playing Volleyball</h3>
            <p class="hobby-desc">Staying active and social by playing volleyball with friends and local leagues.</p>
        </div>
    </div>
    <div class="hobby-card">
        <img src="{{ url_for('static', filename='img/hobbies/watching_tv.jpg') }}" alt="Watching TV" class="hobby-img" loading="lazy">
        <div class="hobby-info">
            <h3 class="hobby-title">Watching TV</h3>
            <p class="hobby-desc">Relaxing with my favorite shows and discovering new series and documentaries.</p>
        </div>
    </div>
</div>
