<nav class="navbar">
    <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('research_page') }}">Research</a></li>
        <li><a href="{{ url_for('projects_page') }}">Projects</a></li>
        <li><a href="{{ url_for('teaching_page') }}">Teaching</a></li>
        <li><a href="{{ url_for('about_page') }}">About</a></li>
        <li><a href="{{ url_for('contact_page') }}">Contact</a></li>
        <li><a href="{{ url_for('hobbies_page') }}">Hobbies</a></li>
        <li><a href="{{ url_for('places_page') }}">Places</a></li>
    </ul>
</nav>