<h2 class="section-title">My Places</h2>
<div class="places-grid">
    {% for place in places %}
    <div class="place-card">
        <div id="map-{{ loop.index0 }}" class="place-map" style="width:100%;height:180px;margin-bottom:1em;"></div>
        <img src="{{ url_for('static', filename=place.image) }}" alt="{{ place.name }}" class="place-img">
        <div class="place-info">
            <div class="place-title">{{ place.name }}</div>
            <div class="place-location">{{ place.location }}</div>
            <div class="place-desc">{{ place.description }}</div>
        </div>
    </div>
    {% endfor %}
</div>
