<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/meta-mlh.css') }}">
    <link rel='icon' href="{{ url_for('static', filename='img/favicon.ico') }}" type='image/x-icon' />
    <title>{{ title }}</title>
</head>

<body>
    {% include "_nav.html" %}

    <header class="nav-bar">
        <div class="nav-content">
            <a href="/">
                <div class="nav-logo">
                    <img src="./static/img/logo.svg" />
                </div>
            </a>
        </div>
    </header>

    <div class="profile">
        <div id="profile-picture" class="profile-picture">
            <img src="./static/img/profile.jpeg" alt="{{ user.name }}'s profile photo">
        </div>
        <h1>{{ title }}</h1>
    </div>

    <div class="meta-mlh-banner">
        <img src="{{ url_for('static', filename='img/Meta_Platforms_Inc._logo.svg') }}" alt="Meta Logo">
        <span class="banner-text">X</span>
        <img src="{{ url_for('static', filename='img/mlh-logo-color.png') }}" alt="MLH Logo">
    </div>

    <section class="hobbies-list-section">
        <h2 id="about-me-heading" class="mlh" style="text-align:center;">My Hobbies <span class="badge-mlh">MLH</span>
        </h2>
        <div class="hobbies-list">
            {% for hobby in hobbies %}
            <div class="hobby-card card mlh">
                <img src="{{ url_for('static', filename=hobby.image) }}" alt="{{ hobby.name }}" class="hobby-img">
                <h3>{{ hobby.name }}</h3>
                <p>{{ hobby.description }}</p>
            </div>
            {% endfor %}
        </div>
    </section>
</body>

</html>